$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);
$off-white: hsl(36, 100%, 99%);
$blue: hsl(233, 8%, 79%);
$grayish-blue: hsl(236, 13%, 42%);
$dark-blue: hsl(240, 100%, 5%);
$primary-text-color:black;
$mobileMax: 765px;
$desktop: 1440px;

body {
  height: 100%;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  flex-direction: column;
  display: flex;
  color: $primary-text-color;
}

.container {
  @media screen and (max-width: $mobileMax) {
    margin: 50px auto 25px auto;
    width: calc(705px + 60px);
    padding: 0 30px;
  }

  @media screen and (width > 765px) {
    width: calc(1280px + 160px);
    padding: 0 30px;
  }

}